<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>12.5 Release Tracker</title>

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">

  </head>

  <body>

      <body>
          <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">12.5 Release Tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
        </div>
      </nav>

      <div id="app" class="col-12">

        <h1>{{ mrs.length }} Open MRs</h1>

        <table class="table">
          <thead>
            <th>MR Title</th>
            <th>Author</th>
          </thead>

          <tbody>
            <tr v-for="mr in mrs">
              <td><a :href="mr.web_url">{{ mr.title }}</a></td>
              <td><a :href="mr.author.web_url">{{ mr.author.name }}</a></td>
            </li>
          </tbody>
        </ul>
      </div>

    </main>

<script>

  $.getJSON( "./pms_with_mrs.json", function( json ) {
    mr_data = json;

    var app = new Vue({
      el: '#app',
      data: {
          mrs: mr_data
        }
    })
  });

</script>

  </body>
</html>
